################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

# .Net Build Folders
bin/
obj/

#Visual Studio files
.vs/

